
.comment-item {
    display: flex;                
    align-items: center;          
    margin: 10px 0;               
    padding: 15px;                
    border-radius: 8px;           
    font-size: 16px;              
    transition: background-color 0.3s ease; 
}


.user-avatar {
    width: 40px;                 
    height: 40px;                
    border-radius: 50%;          
    background-color: #4f3030;    
    color: white;                
    display: flex;                
    align-items: center;          
    justify-content: center;      
    margin-right: 10px;           
    font-size: 18px;              
    font-weight: bold;            
}


.username {
    font-weight: bold;         
    font-size: 16px;             
    margin-left: 10px;           
    color: #333;                
}


.comment-text {
    margin-top: 5px;         
    font-size: 20px;       
    color: black;              
}


.comment-item.negative {
    background-color: #ffcccc;    
}

.comment-item.positive {
    background-color: #ccffcc;   
}

.comment-item.neutral {
    background-color: #f0f0f0;    
}


.sendButton {
    background-color: #4CAF50;  
    color: white;                
    padding: 10px 20px;            
    border: none;                
    border-radius: 5px;           
    cursor: pointer;              
    font-size: 16px;              
    transition: background-color 0.3s;  
}


.title{
    color:white;
    font-size: 3rem;
    margin:1%;
    text-align: center;
}

.statement{
    color:white;
    font-size: 2rem;
    margin: 1%;
    text-align: center;
}

.button-section{
    text-align: center;
    margin-top: 2%;
}