.input-statement, .input-comment {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #4f3030;
        color: #cfa7a7;
    }


.label{
    color:white;
    font-size: 20px;
    margin:1.5%
}

.statement-section, .comment-section{
    text-align: center;
    margin:1%
}


.title{
    color:white;
    font-size: 3rem;
    margin: 5%;
}

.button-section{
    text-align: center;
}

.statement{
    color: white;
    font-size: 2rem;
    padding: 1%;
}


.input-comment, .input-statement {
    width: 50%;
    min-height: 50px; /* Start with a minimum height */
    max-height: 200px; /* Optional: limit how tall it can grow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4f3030;
    color: #cfa7a7;
    resize: none; /* Prevent manual resizing; optional */

}
